.container-fluid {
    .row {
        justify-content: space-around;
        .bootstrap_for_canvas {
            text-align: center;
            position: relative;
            @include padding(10px, 0px);
            // max-width: 70%;
        }
    }
}