html,
body,
ul,
ol {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'no_name_37_Light', serif !important;
}

@font-face {
    font-family: 'Cormorant';
    src: url("../../dist/assets/fonts/Cormorant-Regular.ttf")
}

@font-face {
    font-family: 'Good Vibes';
    src: url("../../dist/assets/fonts/good_vibes.ttf")
}

@font-face {
    font-family: 'Dorothea Deco';
    src: url("../../dist/assets/fonts/11609.ttf")
}

@font-face {
    font-family: 'no_name_37_Light';
    src: url("../../dist/assets/fonts/11693.otf")
}