$first_black: #212121;
$first_white: #E3F2FD;
$bg_light_white: #e6eac960;
@mixin margin($vertical, $horizontal) {
    margin: $vertical $horizontal;
}

@mixin padding($vertical, $horizontal) {
    padding: $vertical $horizontal;
}