@import '_var';
@import '_reset';
@import 'intro';
html {
    -ms-overflow-style: none;
     ::-webkit-scrollbar {
        width: 0;
    }
}

.content--fixed {
    height: 100%;
    background-color: var(--color-content-fixed);
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    .block {
        opacity: 0;
        position: absolute;
        display: flex;
        flex: 1 1 auto;
        width: 100%;
        box-sizing: border-box;
        background: $bg_light_white;
    }
    .about-me {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../../assets/images/bg1.jpg);
        height: 100vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        @include padding(20px, 10px);
        .about-me_item {
            height: 500px;
            width: 50%;
            @include padding(20px, 10px);
            background: $bg_light_white;
            font-size: 1.6em;
            color: #110b5b;
            p {
                text-align: justify;
                font-weight: 600;
            }
        }
    }
    .about-job {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../../assets/images/bg4.jpg);
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        @include padding(50px, 20px);
        .about-job_item {
            height: 500px;
            width: 70%;
            @include padding(20px, 10px);
            background: $bg_light_green;
        }
    }
    .skills {
        display: flex;
        background-color: #FFE082;
        width: 100%;
        justify-content: center;
        @include padding(50px, 20px);
        flex-flow: row wrap;
    }
    .wishes {
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        @include padding(50px, 20px);
        .wishes_item {
            height: 500px;
            width: 70%;
            @include padding(20px, 10px);
            background: $bg_light_green;
        }
    }
    .contacts {
        background-color: #004D40;
        height: 400px;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        @include padding(50px, 20px);
    }
}